<%= render 'shared_templates/articles_header' %>

<% content_for :head do %>
    <%= stylesheet_link_tag 'articles/new' %>
    <%= stylesheet_link_tag 'devise/form' %>
    <%= javascript_include_tag 'articles/new' %>
<% end %>

<%= form_for @article do |f| %>
    <%= render 'shared_templates/flash_messages' %>

    <ul class="new-article form-box">
      <li class="ip-field">
        <%= f.label 'Title', class: 'f-label field-required' %>
        <br/>
        <%= f.text_field :title, class: 'txt-box' %>
      </li>

      <li class="ip-field">
        <%= f.label 'Content', class: 'f-label field-required' %>
        <br/>
        <%= f.text_area :content, class: 'txt-box' %>
      </li>

      <li class="ip-field" id="tag-sub-tags-list">
        <% if @tags.present?
          @tags.each do |index, tag_hash| %>
            <div class="tag-cont">
              <span class="tag-actions remove-tag">remove tag</span>
              <%= f.label 'tag', class: 'f-label field-required' %>
              <br/>
              <%= text_field_tag "article[tags][#{index}][name]", tag_hash[:name], class: 'tag-ip' %>
              <br/>

              <span class="add-new-sub-tag tag-actions">Add Sub tag</span><span class="remove-sub-tag tag-actions">remove Sub tag</span>
              <ul class="sub-tag-list-cont">
                <% if tag_hash[:sub_tags].present?
                  tag_hash[:sub_tags].each do |sub_tag_name| %>
                    <li class="sub-tag-list">
                      <%= f.label 'sub_tag', class: 'f-label field-required' %>
                      <br>
                      <%= text_field_tag "article[tags][#{index}][sub_tags][]",  sub_tag_name, class: 'sub-tag-ip' %>
                    </li>
                <% end
                  end %>
              </ul>
            </div>
        <% end
          end %>
      </li>
      <li class="action">
        <%= f.submit 'Create' %>
        <a href="#" onclick="location.reload(true)">reset</a>

        <span class="add-new-tag">add tag</span>
      </li>
    </ul>
<% end %>
